<h1>Registration Form</h1>
<div>
    <form [formGroup]="regForm" (ngSubmit)="register(regForm)"> 
<div>
    First name: <input type="text" placeholder="enter the name" formControlName="firstName">
    <div *ngIf="regForm.controls['firstName'].touched && !regForm.controls['firstName'].valid">
    first name is required
    </div>
</div>
<div>
    last name: <input type="text" placeholder="enter the lastname" formControlName="lastName">
</div>
<div>
    description: <input type="text" placeholder="enter the description" formControlName="description">
</div>
<div>
    skills: <input type="text" placeholder="enter the skills" formControlName="skills">
</div>
<!-- <div>
    email: <input type="email" placeholder="enter the skills" formControlName="email">
    <div *ngIf="regForm.controls['email'].touched && !regForm.controls['email'].valid">
        email name is required
        </div>
</div> -->
<button type="submit">register</button>
    </form>
    {{regForm.value.firstName}}

    <h1>Name:{{Fname}}</h1>
    <h1>title:{{title}}</h1>

    <div>
        <app-details [firstName]="regForm.value.firstName" [lastName]="regForm.value.lastName"  [skills]="regForm.value.skills" (parentFunction)="parentFunction($event)" (passDataFromChildToParent)="passDataFromChildToParent($event)" [description]="regForm.value.description" />
    </div>
    <h1>output propertyuse</h1>
    {{passedDataFromChildToParent1}}
    <div>passedDataFromChildToParent11</div>
  {{passedDataFromChildToParent}}

</div>